//- 活动
extends layout/index
block content
  .activity
    ul.nav.nav-pills
      li.active
        a(href='#') 热门活动
      li
        a(href='#') 往期活动
    .banner
      img(src='/images/index/banner1-1.png')
    .content
      .hot-activy
        span.title
          span 热门活动
        .empty
          img(src='/images/user/data-empty.png')
          span 暂无热门活动
        .list
          .item
            .left
              img(src='/images/index/activy.jpg')
            .right
              span.con 上海市庆祝共产党成立98周年系列活动上海市庆祝共产党成立98周年系列活动上 海市庆祝共产党成立98周年系列活动
              span.time
                span 时间：2019年10月26日 ~ 2019年11月25日
                span 免费
              span.add.time
                span 地点: 青岛市市南区海门路79号
                span 主办方: 上海市市政府
          .item
            .left
              img(src='/images/index/activy.jpg')
            .right
              span.con 上海市庆祝共产党成立98周年系列活动上海市庆祝共产党成立98周年系列活动上 海市庆祝共产党成立98周年系列活动
              span.time
                span 时间：2019年10月26日 ~ 2019年11月25日
                span 免费
              span.add.time
                span 地点: 青岛市市南区海门路79号
                span 主办方: 上海市市政府
          .item
            .left
              img(src='/images/index/activy.jpg')
            .right
              span.con 上海市庆祝共产党成立98周年系列活动上海市庆祝共产党成立98周年系列活动上 海市庆祝共产党成立98周年系列活动
              span.time
                span 时间：2019年10月26日 ~ 2019年11月25日
                span 免费
              span.add.time
                span 地点: 青岛市市南区海门路79号
                span 主办方: 上海市市政府
      .page
        ul.pagination
          li
            a(href='#') 上一页
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') 下一页

