<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyk.project.admin.banner.mapper.BannerMapper">
    
    <resultMap type="Banner" id="BannerResult">
        <result property="id"    column="id"    />
        <result property="bannerType"    column="banner_type"    />
        <result property="bannerName"    column="banner_name"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="type"    column="type"    />
        <result property="jumpUrl"    column="jump_url"    />
        <result property="sort"    column="sort"    />
        <result property="details"    column="details"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />

    </resultMap>

    <sql id="selectBannerVo">
        select id, banner_type, banner_name, url, status, type,jump_url, sort, details, create_user, create_time, update_time from t_banner
    </sql>

    <select id="selectBannerList" parameterType="Banner" resultMap="BannerResult">
        <include refid="selectBannerVo"/>
        <where>  
            <if test="bannerType != null "> and banner_type = #{bannerType}</if>
            <if test="bannerName != null  and bannerName != ''"> and banner_name like concat('%', #{bannerName}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="jumpUrl != null  and jumpUrl != ''"> and jump_url = #{jumpUrl}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="details != null  and details != ''"> and details = #{details}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="startTime != null "> create_time>= #{startTime},</if>
            <if test="offTime != null "> create_time <![CDATA[<=]]> #{offTime},</if>
            and del_flag=0
        </where>
    </select>
    
    <select id="selectBannerById" parameterType="Long" resultMap="BannerResult">
        <include refid="selectBannerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBanner" parameterType="Banner" useGeneratedKeys="true" keyProperty="id">
        insert into t_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bannerType != null ">banner_type,</if>
            <if test="bannerName != null  and bannerName != ''">banner_name,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="status != null ">status,</if>
            <if test="type != null ">type,</if>
            <if test="jumpUrl != null  and jumpUrl != ''">jump_url,</if>
            <if test="sort != null ">sort,</if>
            <if test="details != null  and details != ''">details,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="createUser != null ">create_user,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bannerType != null ">#{bannerType},</if>
            <if test="bannerName != null  and bannerName != ''">#{bannerName},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="status != null ">#{status},</if>
            <if test="type != null ">#{type},</if>
            <if test="jumpUrl != null  and jumpUrl != ''">#{jumpUrl},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="details != null  and details != ''">#{details},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="createUser != null ">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBanner" parameterType="Banner">
        update t_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="bannerType != null ">banner_type = #{bannerType},</if>
            <if test="bannerName != null  and bannerName != ''">banner_name = #{bannerName},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="jumpUrl != null  and jumpUrl != ''">jump_url = #{jumpUrl},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="details != null  and details != ''">details = #{details},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="createUser != null ">create_user = #{createUser},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBannerById" parameterType="Long">
        update t_banner set del_flag =1 where id = #{id}
    </delete>

    <delete id="deleteBannerByIds" parameterType="String">
        delete from t_banner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>